@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tuzi-red: 198, 49, 67;    /* #C63143 */
  --tuzi-brown: 113, 65, 0;   /* #714100 */
  --tuzi-white: 255, 254, 254; /* #FFFEFE */
}

@layer base {
  body {
    @apply bg-[#FFFEFE] text-[#714100];
  }
}

.fade-scroll {
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

